<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- 添加读取外部存储权限 -->
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 对于 Android 13 及以上版本，需要添加照片选择权限 -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application android:requestLegacyExternalStorage="true">
        <activity
            android:name=".MemoDetailActivity"
            android:exported="false"
            android:theme="@style/TransparentTheme" />
        <activity
            android:name=".AddMemoActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivityMemo"
            android:exported="false" />
        <activity
            android:name=".MemoHistoryActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>