<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.assiance.scabbard"
    tools:ignore="SelectedPhotoAccess">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".ScabbardApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/scabbard14"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/scabbard14"
        android:supportsRtl="true"
        android:theme="@style/Theme.Scabbard"
        tools:targetApi="33">

        <!-- StartSplashActivity 作为主入口 -->
        <activity
            android:name=".StartSplashActivity"
            android:exported="true" />

        <!-- Main Activities -->
        <activity
            android:name=".StartActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".AboutActivity"
            android:exported="false" />
        <activity
            android:name=".AppearanceActivity"
            android:exported="false" />
        <activity
            android:name=".PlayerSelectionActivity"
            android:exported="false" />

        <!-- Memo Module Activities -->
        <activity
            android:name="com.assiance.memo.MainActivityMemo"
            android:exported="false" />
        <activity
            android:name="com.assiance.memo.AddMemoActivity"
            android:exported="false" />
        <activity
            android:name="com.assiance.memo.MemoDetailActivity"
            android:exported="false" />

        <!-- App Icon Aliases -->
        <activity-alias
            android:name=".MainActivity.Default"
            android:enabled="true"
            android:exported="true"
            android:icon="@mipmap/scabbard14"
            android:label="@string/app_name"
            android:targetActivity=".StartSplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivity.IconAlternative1"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/scabbard11"
            android:label="@string/app_name"
            android:targetActivity=".StartSplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivity.IconAlternative2"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/scabbard12"
            android:label="@string/app_name"
            android:targetActivity=".StartSplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivity.IconAlternative3"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/scabbard13"
            android:label="@string/app_name"
            android:targetActivity=".StartSplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivity.IconAlternative4"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/scabbard14"
            android:label="@string/app_name"
            android:targetActivity=".StartSplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivity.IconAlternative5"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/scabbard15"
            android:label="@string/app_name"
            android:targetActivity=".StartSplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivity.IconAlternative6"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/scabbard16"
            android:label="@string/app_name"
            android:targetActivity=".StartSplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivity.IconAlternative7"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/scabbard17"
            android:label="@string/app_name"
            android:targetActivity=".StartSplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivity.IconAlternative8"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/scabbard21"
            android:label="@string/app_name"
            android:targetActivity=".StartSplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivity.IconAlternative9"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/scabbard22"
            android:label="@string/app_name"
            android:targetActivity=".StartSplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivity.IconAlternative10"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/scabbard23"
            android:label="@string/app_name"
            android:targetActivity=".StartSplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivity.IconAlternative11"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/scabbard24"
            android:label="@string/app_name"
            android:targetActivity=".StartSplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivity.IconAlternative12"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/scabbard25"
            android:label="@string/app_name"
            android:targetActivity=".StartSplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivity.IconAlternative13"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/scabbard26"
            android:label="@string/app_name"
            android:targetActivity=".StartSplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivity.IconAlternative14"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/scabbard27"
            android:label="@string/app_name"
            android:targetActivity=".StartSplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <!-- FileProvider -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!-- 添加 MainActivityAlm 的注册 -->
        <activity
            android:name="com.assiance.alm.MainActivityAlm"
            android:exported="false"
            android:label="冬去鸟鸣时" />

    </application>
</manifest>
